

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  div.desc {
    padding: 15px;
    position: absolute;
    /* padding: 2rem; */
  }

  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 30%;
  }
     .responsive-2 {
    padding: 0 6px;
    float: left;
    width: 45%;
   }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .section-1 {
 
  }
